.container {
  display: flex;
  flex-direction: column;
  margin: 16px;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", "Helvetica Neue";
}
p {
  text-align: center;
}
.title {
  color: #fb7b05;
  font-size: 1.5rem;
}

.button {
  background-color: #fb7b05;
  font-size: 1rem;
  border-radius: 10px;
  margin: 10px;
  width: 200px;
}
