.container {
  display: flex;
  flex-direction: column;
  margin: 16px;
  justify-content: center;
  text-align: center;
  font-family: "Roboto", "Helvetica Neue";
}

p {
  text-align: center;
  display: flex;
  justify-content: center;
}

.title {
  color: #fb7b05;
  font-size: 1.5rem;
}

.label_form {
  font-family: "Roboto", sans-serif;
}

.btn {
  margin-top: 10px;
  border-radius: 10px;
  height: 30px;
  background-color: #fb7b05;
}

li {
  list-style: none;
}
