.d-flex-r {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.d-flex-c {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.cardMenu {
	width: 45%;
	height: 200px;
	background-color: #fff;
	border: 1px solid #888888;
	border-radius: 8px;
	margin-bottom: 12px;
}

@media only screen and (max-width: 800px) {
	.cardMenu {
		width: 90%;
	}
}

.menuCardImg {
	height: 100%;
	width: 30%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.imgCardMenu {
	border-radius: 8px;
	object-fit: cover;
	max-height: 200px;
}

.menuCardContent {
	height: 100%;
	width: 70%;
}

.cardMenuTop {
	height: 80%;
}

.cardMenuTitle {
	font-weight: bold;
}

.cardMenuPrice {
	color: #ff7b2c;
	font-weight: bold;
}

.cardMenuDescription {
	width: 100%;
	height: 80px;
	background-color: #f3f3f3;
	margin: 8px 2px 2px 2px;
	border-radius: 6px;
	padding: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cardMenuButtons {
	height: 20px;
}

.pStyle {
	margin: 0px;
	padding: 0px;
	text-align: center;
	margin-top: 3px;
}

.icons8-comments {
	width: 20px;
	height: 20px;
	background: url('https://img.icons8.com/material-outlined/344/comments--v1.png') 50% 50% no-repeat;
	background-size: 100%;
	cursor: pointer;
}

.icons8-edit {
	width: 20px;
	height: 20px;
	background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMjQiIGhlaWdodD0iMjQiCnZpZXdCb3g9IjAgMCAyNCAyNCIKc3R5bGU9IiBmaWxsOiMwMDAwMDA7Ij4gICAgPHBhdGggZD0iTSAxOC40MTQwNjIgMiBDIDE4LjE1ODA2MiAyIDE3LjkwMjAzMSAyLjA5Nzk2ODcgMTcuNzA3MDMxIDIuMjkyOTY4OCBMIDE1LjcwNzAzMSA0LjI5Mjk2ODggTCAxNC4yOTI5NjkgNS43MDcwMzEyIEwgMyAxNyBMIDMgMjEgTCA3IDIxIEwgMjEuNzA3MDMxIDYuMjkyOTY4OCBDIDIyLjA5ODAzMSA1LjkwMTk2ODcgMjIuMDk4MDMxIDUuMjY4OTA2MyAyMS43MDcwMzEgNC44Nzg5MDYyIEwgMTkuMTIxMDk0IDIuMjkyOTY4OCBDIDE4LjkyNjA5NCAyLjA5Nzk2ODcgMTguNjcwMDYzIDIgMTguNDE0MDYyIDIgeiBNIDE4LjQxNDA2MiA0LjQxNDA2MjUgTCAxOS41ODU5MzggNS41ODU5Mzc1IEwgMTguMjkyOTY5IDYuODc4OTA2MiBMIDE3LjEyMTA5NCA1LjcwNzAzMTIgTCAxOC40MTQwNjIgNC40MTQwNjI1IHogTSAxNS43MDcwMzEgNy4xMjEwOTM4IEwgMTYuODc4OTA2IDguMjkyOTY4OCBMIDYuMTcxODc1IDE5IEwgNSAxOSBMIDUgMTcuODI4MTI1IEwgMTUuNzA3MDMxIDcuMTIxMDkzOCB6Ij48L3BhdGg+PC9zdmc+')
		50% 50% no-repeat;
	background-size: 100%;
	cursor: pointer;
}

.icons8-trash {
	width: 20px;
	height: 20px;
	background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMjQiIGhlaWdodD0iMjQiCnZpZXdCb3g9IjAgMCAyNCAyNCIKc3R5bGU9IiBmaWxsOiMwMDAwMDA7Ij48cGF0aCBkPSJNIDEwIDIgTCA5IDMgTCA0IDMgTCA0IDUgTCA1IDUgTCA1IDIwIEMgNSAyMC41MjIyMjIgNS4xOTEzMjg5IDIxLjA1NDYxIDUuNTY4MzU5NCAyMS40MzE2NDEgQyA1Ljk0NTM4OTkgMjEuODA4NjcxIDYuNDc3Nzc3OCAyMiA3IDIyIEwgMTcgMjIgQyAxNy41MjIyMjIgMjIgMTguMDU0NjEgMjEuODA4NjcxIDE4LjQzMTY0MSAyMS40MzE2NDEgQyAxOC44MDg2NzEgMjEuMDU0NjEgMTkgMjAuNTIyMjIyIDE5IDIwIEwgMTkgNSBMIDIwIDUgTCAyMCAzIEwgMTUgMyBMIDE0IDIgTCAxMCAyIHogTSA3IDUgTCAxNyA1IEwgMTcgMjAgTCA3IDIwIEwgNyA1IHogTSA5IDcgTCA5IDE4IEwgMTEgMTggTCAxMSA3IEwgOSA3IHogTSAxMyA3IEwgMTMgMTggTCAxNSAxOCBMIDE1IDcgTCAxMyA3IHoiPjwvcGF0aD48L3N2Zz4=')
		50% 50% no-repeat;
	background-size: 100%;
	cursor: pointer;
}
