.food-menu {
  /* width: 75%; */
  padding: 20px;
}

.food-menu .food {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  background: #f9f9f9;
  box-shadow: 1px 1px 5px #959595;
  display: flex;
  margin-bottom: 20px;
}

.food-menu .food .food-image {
  height: 100%;
  width: 40%;
}

.food-menu .food .food-image img {
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.food-menu .food .name-food-name {
  text-align: start;
}

.food-menu .food .name-food-name {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  font-size: 0.9rem;
}

.name-food-descrip {
  display: flex;
  text-align: start;
}

.buttonsCard .btn1-menu {
  display: inline-table;
}

.notes {
  text-align: center;
  text-decoration: solid;
  font-weight: bold;
  align-items: center;
}
.iconos {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.icons8-comments {
  width: 20px;
  height: 20px;
  background: url("https://img.icons8.com/material-outlined/344/comments--v1.png")
    50% 50% no-repeat;
  background-size: 100%;
  right: 50px;
  top: 171px;
  cursor: pointer;
}

.icons8-edit {
  width: 20px;
  height: 20px;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMjQiIGhlaWdodD0iMjQiCnZpZXdCb3g9IjAgMCAyNCAyNCIKc3R5bGU9IiBmaWxsOiMwMDAwMDA7Ij4gICAgPHBhdGggZD0iTSAxOC40MTQwNjIgMiBDIDE4LjE1ODA2MiAyIDE3LjkwMjAzMSAyLjA5Nzk2ODcgMTcuNzA3MDMxIDIuMjkyOTY4OCBMIDE1LjcwNzAzMSA0LjI5Mjk2ODggTCAxNC4yOTI5NjkgNS43MDcwMzEyIEwgMyAxNyBMIDMgMjEgTCA3IDIxIEwgMjEuNzA3MDMxIDYuMjkyOTY4OCBDIDIyLjA5ODAzMSA1LjkwMTk2ODcgMjIuMDk4MDMxIDUuMjY4OTA2MyAyMS43MDcwMzEgNC44Nzg5MDYyIEwgMTkuMTIxMDk0IDIuMjkyOTY4OCBDIDE4LjkyNjA5NCAyLjA5Nzk2ODcgMTguNjcwMDYzIDIgMTguNDE0MDYyIDIgeiBNIDE4LjQxNDA2MiA0LjQxNDA2MjUgTCAxOS41ODU5MzggNS41ODU5Mzc1IEwgMTguMjkyOTY5IDYuODc4OTA2MiBMIDE3LjEyMTA5NCA1LjcwNzAzMTIgTCAxOC40MTQwNjIgNC40MTQwNjI1IHogTSAxNS43MDcwMzEgNy4xMjEwOTM4IEwgMTYuODc4OTA2IDguMjkyOTY4OCBMIDYuMTcxODc1IDE5IEwgNSAxOSBMIDUgMTcuODI4MTI1IEwgMTUuNzA3MDMxIDcuMTIxMDkzOCB6Ij48L3BhdGg+PC9zdmc+")
    50% 50% no-repeat;
  background-size: 100%;
  right: 50px;
  top: 171px;
  cursor: pointer;
}

.icons8-trash {
  width: 20px;
  height: 20px;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMjQiIGhlaWdodD0iMjQiCnZpZXdCb3g9IjAgMCAyNCAyNCIKc3R5bGU9IiBmaWxsOiMwMDAwMDA7Ij48cGF0aCBkPSJNIDEwIDIgTCA5IDMgTCA0IDMgTCA0IDUgTCA1IDUgTCA1IDIwIEMgNSAyMC41MjIyMjIgNS4xOTEzMjg5IDIxLjA1NDYxIDUuNTY4MzU5NCAyMS40MzE2NDEgQyA1Ljk0NTM4OTkgMjEuODA4NjcxIDYuNDc3Nzc3OCAyMiA3IDIyIEwgMTcgMjIgQyAxNy41MjIyMjIgMjIgMTguMDU0NjEgMjEuODA4NjcxIDE4LjQzMTY0MSAyMS40MzE2NDEgQyAxOC44MDg2NzEgMjEuMDU0NjEgMTkgMjAuNTIyMjIyIDE5IDIwIEwgMTkgNSBMIDIwIDUgTCAyMCAzIEwgMTUgMyBMIDE0IDIgTCAxMCAyIHogTSA3IDUgTCAxNyA1IEwgMTcgMjAgTCA3IDIwIEwgNyA1IHogTSA5IDcgTCA5IDE4IEwgMTEgMTggTCAxMSA3IEwgOSA3IHogTSAxMyA3IEwgMTMgMTggTCAxNSAxOCBMIDE1IDcgTCAxMyA3IHoiPjwvcGF0aD48L3N2Zz4=")
    50% 50% no-repeat;
  background-size: 100%;
  right: 18px;
  top: 145px;
  cursor: pointer;
}

.name-food-price {
  font-weight: bold;
  color: #ff7b2c;
  right: 25px;
  top: 100px;
}

.food-col {
  display: flex;
  flex-direction: column;
}

.food-col.food-image {
  min-width: 40%;
}

.food-col.food-detail {
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
}
