.form-child {
  background-color: #f5f5f5;

}
.card-body{
  display: flex;
  justify-content: center;
}
.title-h2{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.form-login {
  height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  border-top: 2px solid #ff7b2c;
  color: rgb(14, 13, 13);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.form-login h5 {
  background-color: #f5f5f5;
  margin: 0;
  text-align: center;
  height: 40px;
  margin-bottom: 30px;
  font-size: 20px;
}
.container-btn-login{
  display: flex;
  justify-content: center;
}
.btn-login {
  height: 38px;
  border-radius: 5px;
  background-color: #fff;
  border: 2px solid #ff7b2c;
  font-weight: bold;
  margin: 7px 7px 7px 7px;
  width: 170px;
  text-decoration: none;
  color: #ff7b2c;
  transition: .5s;
}

.btn-login:hover {
  background-color: #ff7b2c;
  color: #fff;
}

.form-login .forget-password {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(28, 27, 27);
  text-decoration: none;
  font-size: 14px;
}
.container-pass{
  width: 217px
}
.form-login .forget-password:hover {
  text-decoration: underline;
}
