.cardRestaurant {
	box-sizing: border-box;
	width: 46%;
	height: 200px;
	background-color: #fff;
	border: 1px solid #d17b86;
	border-radius: 8px;
	margin-bottom: 12px;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: center;
}

@media only screen and (max-width: 992px) {
	.cardRestaurant {
		width: 90%;
	}
}

.restaurantCardImg {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 200px;
	background-color: #000;
	overflow: hidden;
}

.imgCardRestaurants {
	object-fit: cover;
	max-width: 200px;
}

.restaurantCardContent {
	height: 100%;
	width: calc(100% - 198px);
}

.name-food-descrip {
	text-align: center;
}

.restaurantMenuTitle {
	font-weight: bold;
	font-size: 22px;
}
