
#addCommentSection {
  display: flex;
  justify-content: center;
}

#addComment {
  display: flex;
  padding: 15px;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  background-color: #ff7b2c;
  border: 1px solid #ff7b2c;
  color: white;
  margin: 7px 0px;
  height: 40px;
  font-size: 14px;
  align-items: center;
}

#addComment:hover {
  background-color: white;
  color: #ff7b2c;
}

#formAddComment {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#addNewComment { 
  margin: 7px 0px;
  border-radius: 8px;
  padding: 12px;
  border: 2px solid #ff7b2c;
  width: calc(100% - 14px);
  height: 100px;
}

#addNewComment:focus {
  background-color: #ffefe6;
}

#buttonSize {
  width: 140px;
}

#textInstructions {
  margin-top: 10px;
}