.startContainer {
	width: 90%;
	height: 90%;
  min-height: 500px;
}

.d-flex-r {
	display: flex;
}

.img-home-logo {
	width: 90%;
	/* margin-bottom: 50px; */
}

.p-home {
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-align: center;
	color: #fb7b05;
	/* margin-bottom: 50px; */
}

#active {
	display: block;
}

#none {
	display: none;
}

.btn-prim {
	padding: 4px 12px;
	border-radius: 8px;
	border: 2px solid #ff7b2c;
	background-color: #ff7b2c;
	font-weight: bold;
	color: #fff;
}

.btn-prim:hover {
	background-color: #fff;
	color: #000;
}

.btn-second {
	padding: 4px 12px;
	border-radius: 8px;
	border: 2px solid #ff7b2c;
	background-color: #fff;
	font-weight: bold;
	margin-left: 12px;
}

.btn-second:hover {
	background-color: #ff7b2c;
	color: #fff;
}
