img.img-home {
  width: 100%;
  height: 100%;
}
img-home-logo {
  /* border: 1px solid green; */
  width: 240px;
  height: 200px;
  position: absolute;
  top: 180px;
}
h3.p-home {
  /* border: 1px solid red; */
  /* width: 690px; */
  padding: 25px;
  max-width: 650px;
  margin-top: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: justify;
  color: #fb7b05;
}
.btn-home {
  width: 150px;
  height: 55px;
  font-family: "Roboto", sans-serif;

  background-color: white;
  border: 1px solid #fb7b05;
  color: #fb7b05;
  padding: 10px;
  border-radius: 5px;
  transition: 0.5s;
  text-decoration: none;
  margin: 15px;
}
.btn-home-registrer {
  width: 150px;
  height: 55px;
  font-family: "Roboto", sans-serif;
  background-color: #fb7b05;
  border: 1px solid white;
  color: white;
  padding: 15px;
  border-radius: 5px;
  transition: 0.5s;
  text-decoration: none;
  margin: 15px;
}
.btn-home-registrer:hover {
  color: white;
  background-color: #f88214c9;
  /* border: 1px solid #fb7b05; */
}
.btn-home:hover {
  color: white;
  background-color: #fb7b05;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .img-home {
    display: none;
  }
  .btn-home {
    font-size: 3.5vw;
  }
}
.ReactModal__Overlay {
  opacity: 1;
  transition: opacity 2000ms ease-in-out;
}
