.container-welcome {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  height: 900px;
}
img.img-home {
  width: 100%;
  height: 100%;
}
img.img-home-logo {
  /* border: 1px solid green; */
  width: 240px;
  height: 200px;
  position: relative;
  top: 180px;
}
h3.p-home {
  /* border: 1px solid red; */
  /* width: 690px; */
  padding: 40px;
  max-width: 650px;
  margin-top: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.btn-home {
  width: 150px;
  height: 55px;
  font-family: "Roboto", sans-serif;
  background-color: white;
  border: 1px solid #fb7b05;
  color: #fb7b05;
  padding: 15px;
  border-radius: 5px;
  transition: 0.5s;
  text-decoration: none;
  margin: 15px;
}
.btn-home-registrer {
  width: 150px;
  height: 55px;
  font-family: "Roboto", sans-serif;
  background-color: #fb7b05;
  border: 1px solid white;
  color: white;
  padding: 15px;
  border-radius: 5px;
  transition: 0.5s;
  text-decoration: none;
  margin: 15px;
}
.btn-home-registrer:hover {
  color: white;
  background-color: #f88214c9;
  /* border: 1px solid #fb7b05; */
}
.btn-home:hover {
  color: white;
  background-color: #fb7b05;
}

.card-body {
  border-radius: 10px;
}
.title-registro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.form-signup {
  width: 380px;
  height: 400px;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

  padding: 20px 30px;
  border-top: 2px solid #ff7b2c;
  color: rgb(14, 13, 13);
}

.form-singup {
  margin: 0;
  text-align: center;
  height: 40px;
  margin-bottom: 30px;
  font-size: 20px;
  border-radius: 10px;
}

.select-child {
  margin-bottom: 25px;
}
.select-signup {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  border: 1px solid #017bab;
  border-radius: 5px;
}

.form-group {
  margin: 10px;
}
.btn-singup {
  display: flex;
  align-items: center;
  height: 40px;
  font-family: "Roboto", sans-serif;
  background-color: white;
  border: 1px solid #fb7b05;
  color: #fb7b05;
  padding: 15px;
  border-radius: 5px;
  transition: 0.5s;
  text-decoration: none;
  margin: 15px;
}
.btn-singup:hover {
  color: white;
  background-color: #fb7b05;
}
.content-button {
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.img-register {
  height: 593px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .img-home {
    display: none;
  }
}
.ReactModal__Overlay {
  opacity: 1;
  transition: opacity 2000ms ease-in-out;
}
