.topNavBar {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #fb7b05;
  max-width: 1290px;
  height: 90px;
  top: -8px;
  background-color: white;
}

.navbar-brand,
.navImg {
  width: 60px;
}
.btn-home-nav {
  width: 150px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  background-color: white;
  border: 1px solid #fb7b05;
  color: #fb7b05;
  border-radius: 5px;
  transition: 0.5s;
  text-decoration: none;
  margin-left: 40px;
}
.login {
  display: flex;
  align-items: center;
  height: 40px;
  font-family: "Roboto", sans-serif;
  background-color: white;
  border: 1px solid #fb7b05;
  color: #fb7b05;
  padding: 15px;
  border-radius: 5px;
  transition: 0.5s;
  text-decoration: none;
}
.login:hover {
  color: white;
  background-color: #fb7b05;
}
.content-search {
  display: flex;
  justify-content: center;
  /* border: 1px solid black; */
  /* width: 800px; */
}
.btn-search {
  width: 80px;
  margin-left: 10px;
  width: 100px;
  border-radius: 5px;
  background-color: #fb7b05;
  font-family: "Roboto", sans-serif;
  color: white;
  border: 1px solid #fb7b05;
  transition: 0.5s;
}
.btn-search:hover {
  background-color: #f88214c9;
  color: white;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .btn-search {
    width: 50px;
  }
  .btn-home-nav {
    display: none;
  }
}
