.description {
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	height: 35%;
	margin-top: 15px;
}

.bottomSection {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 7px;
}
