* {
  margin: 0px;
  padding: 0px;
}

.title {
  margin: 0px;
  background-color: #ff7b2c;
  color: #ffffff;
  padding: 6px;
}

#colCardsRecommendations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.boxDish {
  width: calc(100% - 14px);
  height: calc(100% - 7px);
  margin: 7px 7px 0px 7px;
  border-radius: 6px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #d17b86;
}

#textOtherRec {
  margin-top: 7px;
  margin-bottom: 10px;
  background-color: #ff7b2c;
  font-size: 18px;
  color: #fff;
  padding: 3px;
}

.footer {
  background-color: gray;
  width: 100%;
}
