.container {
  display: flex;
  flex-direction: row;
}

.container-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: flex-start;
  text-align: start;
  margin-left: 30px;
  font-family: "Roboto", "Helvetica Neue";
  justify-content: space-between;
}

.title-form {
  color: #fb7b05;
  font-size: 2.5rem;
  font-weight: bold;
}

.form-menu {
  background-color: white;
}

.label_form {
  font-family: "Roboto", sans-serif;
  text-align: start;
  margin-bottom: 10px;
  font-size: 20px;
}

.input_form {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  text-align: vertical;
  width: 500px;
  height: 100px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.instructions {
  align-self: flex-start;
  width: 500px;
  text-align: justify;
}

.instructions-form {
  margin-top: 10px;
  font-size: 18px;
}

.container-Img {
  margin: 20px;
  text-align: center;
}
.description-food {
  font-family: "Roboto";
  font-size: 2rem;
  font-weight: 700;
  margin-left: 150px;
  text-align: center;
}
.btn-register-menu {
  padding: 4px;
  border-radius: 8px;
  background-color: #fff;
  border: 2px solid #ff7b2c;
  font-weight: bold;
  margin: 3px;
  width: 150px;
  text-decoration: none;
  color: black;
}

.btn-register-menu:hover {
  background-color: #ff7b2c;
  color: #fff;
}

.container-image {
  display: flex;
  width: 570px;
  height: 200px;
}
.dropArea {
  display: flex;
  place-items: center;
  background-color: #ffff;
  width: 240px;
  height: 200px;
}
.content-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
}
.text {
  border: dotted #555 3px;
  width: 240px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
  cursor: pointer;
}
.text:hover {
  border: 3px solid #555;
}
.image {
  width: 230px;
  height: 180px;
  border-radius: 5px;
}
@media only screen and (min-width: 320px) and (max-width: 680px) {
  .container-Img {
    display: none;
  }
  .title-form {
    margin-top: 16px;
  }
  .input_form {
    width: 350px;
  }
  .instructions {
    align-self: flex-start;
    width: 350px;
    text-align: justify;
  }

  .instructions-form {
    margin-top: 10px;
    font-size: 18px;
  }
}
