.imgSection {
	border-radius: 6px;
	margin: 7px 7px 0px 7px;
	background-color: #fff;
	border: 1px solid #d17b86;
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100% - 7px);
}

.imgDishes {
	border-radius: 6px;
	object-fit: cover;
	min-height: 70%;
	max-height: 400px;
}
